body {
    padding-top: 90px;
}

.navbar-header {
  float: right;
}
.navbar-toggle {
  display: block;
}

.navmenu-brand {
    padding-left: 50px;
}

.page-title {
    padding-left: 120px;
    margin-left: 120px;
    text-align: center;
    color: white;
    font-family: fantasy;
    display: block;
}

.page-title-small {
    color: white;
}

.modal-title {
    text-align: center;
    color: white;
    font-family: fantasy;
    display: block;
}

.modal-header {
    color: #fff;
    background-attachment: scroll;
    background-image: url(/images/schlage_bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title-logo {
    padding-left: 45px;
    height: 35px;
    padding-bottom: 5px;
}

.navbar-inverse {
    color: #fff;
    background-attachment: scroll;
    background-image: url(/images/schlage_bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-inverse .navbar-toggle {
        border-color: #fff;
}

.navmenu-inverse {
    color: #fff;
    background-attachment: scroll;
    background-image: url(/images/schlage_bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 250px;
}

.td-nowrap {
    white-space: nowrap;
    font-size: 11px;
    height: 43px;
}

.td-center {
    text-align: center;
    height: 43px;
}

.td-metaheader {
    font-weight: bold;
    text-align: center;
    height: 45px;
}

.th-doubleheader {
    height: 45px;
    font-size: 11px;
}

.input-number {
    width: 50px;
}

.schlage-button {
    background-color: #00a9e0;
}

.btn-schlage-darken.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-schlage-darken {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #009acc;
  background-image: -moz-linear-gradient(top, #00a9e0, #0083ad);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9e0), to(#0083ad));
  background-image: -webkit-linear-gradient(top, #00a9e0, #0083ad);
  background-image: -o-linear-gradient(top, #00a9e0, #0083ad);
  background-image: linear-gradient(to bottom, #00a9e0, #0083ad);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00a9e0', endColorstr='#ff0083ad', GradientType=0);
  border-color: #0083ad #0083ad #004961;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0083ad;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-schlage-darken:hover,
.btn-schlage-darken:focus,
.btn-schlage-darken:active,
.btn-schlage-darken.active,
.btn-schlage-darken.disabled,
.btn-schlage-darken[disabled] {
  color: #ffffff;
  background-color: #0083ad;
  *background-color: #006f94;
}
.btn-schlage-darken:active,
.btn-schlage-darken.active {
  background-color: #005c7a ;
}

.footerHr {
    background: #00a9e0;
    height: 1px;
}

.footerText {
    text-align: center
}

.price-number::-webkit-outer-spin-button,
.price-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-number {
    -moz-appearance:textfield;
}


